body {
  background: #222;
  font-family: 'Gochi Hand', sans-serif;
  color: #333;
}

.notebook-inner {
  background: linear-gradient(90deg, #fbfae8 15px, transparent 1%) center,
    linear-gradient(#fbfae8 15px, transparent 1%) center, #ccc;
  background-size: 16px 16px;
  position: relative;
}

.notebook-inner::after {
  content: '';
  width: 100px;
  height: 100%;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  background: linear-gradient(
    to right,
    transparent 10%,
    rgba(153, 153, 153, 0.05) 50%,
    rgba(153, 153, 153, 0.4) 51%,
    rgba(153, 153, 153, 0.15) 51.5%,
    transparent 90%
  );
  display: none;
}

@media (min-width: 1440px) {
  .notebook-inner::after {
    display: block;
  }
}

.text-shadow {
  text-shadow: 2px 1px 0 #fbfae8, 5px 4px 0 coral;
}

.weekday-box-shadow {
  box-shadow: 3px 3px 0 0 rgb(208 91 88 / 70%);
}

.shadow-box {
  box-shadow: 3px 3px 0 0 rgb(208 91 88 / 75%);
}

.shadow-box-noeffect {
  box-shadow: 3px 3px 0 0 rgb(208 91 88 / 75%);
}

.shadow-box:hover {
  box-shadow: none;
}

.login-input,
.btn-auth {
  @apply border-2 border-woodsmoke-900 px-3 py-2;
}

.btn-auth {
  @apply transition-all duration-150;
}

.btn-auth:hover {
  @apply bg-woodsmoke-900 text-white;
}

/* This will work on Firefox */
.notebook-inner {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Targtes on Chrome, Edge, and Safari */
.notebook-inner ::-webkit-scrollbar {
  width: 12px;
}

.notebook-inner ::-webkit-scrollbar-track {
  background: rgba(255, 166, 0, 0);
}

.notebook-inner ::-webkit-scrollbar-thumb {
  background-color: #111111;
  border-radius: 20px;
  border: 3px solid #fbfae8;
}
